html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    /*background-image: url('/fondo/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;*/

    overflow-x: hidden;
    
}

.logo {
    display: block;
    width: 200px;
    /* Or desired width */
    padding: 10px;
    /* Or desired padding */
}

@media (max-width: 768px) {
    .logo {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 100px;
    }
}


.navbar-color {
    background-color: #20975c !important;

}

.navbar-item,
.navbar-link {
    list-style: none !important;
    text-decoration: none !important;
    color: #000000 !important;
}


.container {
    background-color: rgba(76, 166, 194, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.contenido {
    margin-top: 20px !important;

}

.row-caroucel {
    width: 80%;
    height: 20%;
}

.row {
    justify-content: center;
}

.carousel-item {
    width: 80%;
}

.carousel-inner {
    height: 95%;
    width: 80%;
    margin: auto;
    padding: 20px;
}

@media (max-height: 100px) {
    .img-inicio {
        width: 20px;
        /* Ancho deseado */
        height: 80px;
        /* Altura deseada */
    }
}











.footer {
    background-color: #20975c !important;
    color: #000000;
    padding: 30px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: grid;
    gap: 3.5rem;
}

.footer-links {

    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: inherit;
    text-decoration: none;
    color: #000000;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #000000;
    text-decoration: none;
}

.footer-links.inline li {

    display: inline-block;
}

.site-footer .social-icons {
    text-align: center;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.site-footer .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.copyright-text {
    margin: 0;
    color: #fff;
}


.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.instagram:hover {
    background-color: #ea4c89;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

@media (min-width: 1px) {
    .container {
        max-width: 540px;
    }
}


.modal {
    width: 100%;
    height: 100%;
}





.navbar-end {
    display: flex;
    align-items: center;
  }
  
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .burger-menu span {
    background-color: #333;
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
  }
  
  #menu-lateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px; /* Adjust width as needed */
    height: 100%;
    background-color: #f2f2f2;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-closed {
    transform: translateX(100%);
  }
  
  .menu-opened {
    transform: translateX(0);
  }
  
  /* Hide the main navigation bar on menu open (adjust selectors as needed) */
  .main-navigation {
    visibility: hidden;
    transition: visibility 0.3s ease-in-out;
  }
  
  .menu-opened ~ .main-navigation {
    visibility: visible;
  }
  
  /* Other menu styles remain the same as before */
  