<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

<body>
    <!--
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="300">
                    <img src="img/arriendoretro.jpg" class="d-block w-100 img-inicio img-fluid" alt="..." >
                    </div>

                    <div class="carousel-item">
                    <img src="img/fosas1.jpg" class="d-block w-100 img-inicio img-fluid" alt="..." >
                    </div>
                    <div class="carousel-item">
                    <img src="img/servicios.jpg" class="d-block w-100 img-inicio img-fluid" alt="..." >
                    </div>
                    <div class="carousel-item">
                    <img src="img/contacto.jpg" class="d-block w-100 img-inicio img-fluid" alt="..." >
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>-->
    <div class="container">
        <div class="row">
            <div
                class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
                <figure class="figure">
                    <img src="img/fosas1.jpg" class="figure-img img-fluid rounded img" alt="...">

                </figure>
            </div>
            <div
                class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
                <figure class="figure">
                    <img src="img/arriendoretro.jpg" class="figure-img img-fluid rounded img" alt="...">

                </figure>
            </div>
            <div
                class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
                <figure class="figure">
                    <img src="img/contacto.jpg" class="figure-img img-fluid rounded img" alt="...">

                </figure>
            </div>
            <div
                class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
                <figure class="figure">
                    <img src="img/servicios.jpg" class="figure-img img-fluid rounded img" alt="...">

                </figure></div>

</body>