<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

<body>
    <div class="container">
        <div class="row">

            <h1><p><strong>Fosas sépticas</strong></p></h1>
          <p>Somos expertos en la construcción de fosas sépticas de diversos tamaños y materiales, adaptándonos a las necesidades específicas de cada cliente. Ofrecemos un servicio completo que incluye la excavación, instalación, mantenimiento y limpieza de las fosas sépticas.</p>


        </div>
    </div>
</body>